
# Ignore all lib e vendor file
vendor/*
!vendor/.htaccess
composer.lock

#Ignore IDEs' configuration directory
.vscode

#Ignore all log but conserve directory structure
var/logs/*
!var/logs/.htaccess
